<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <img src="./images/logo-img.png" class="logo" />
        <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </div>

      <div class="about-Owlcity">
        <iframe
          width="700"
          height="300"
          src="https://www.youtube.com/embed/bhaszxJ3cHA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </body>
</html>
